.Post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.user-details {
  display: flex;
  padding: 16px;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 12px;

  border-radius: 50%;
}

.username {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  margin-right: 7px;
}

.post-image {
  background-color: #efefef;
  width: 100%;
  border-radius: 3px;
}

.post-caption {
  padding: 0px 0px 10px;
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 75px;
}

.comment {
  border: none;
  width: 80%;
  font-size: 15px;
  padding: 9px 36px 19px 0px;
  outline: none;
}
.comment-box {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
}

.button-active {
  margin-top: 11px;
  color: rgb(4, 139, 230);
  font-weight: 700;
  cursor: pointer;
}

.button-inActive {
  margin-top: 11px;
  color: rgb(153, 196, 224);
  font-weight: 700;
  cursor: none;
}

.link-text {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.not-liked {
  fill: white;
  stroke: black;
  stroke-width: 3px;
  width: 25px;
  height: 24px;
}

.liked {
  fill: red;
  width: 25px;
  height: 24px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 12px;
}

.comment-icon {
  margin-left: 10px;
}

.Post > * {
  width: 95%;
  margin: 0 auto;
}
