.user-profile {
  display: flex;
  flex-direction: row;
  margin: 100px auto auto;
  width: 50%;
  justify-content: space-around;
  padding-bottom: 45px;
  border-bottom: solid 0.5px #c2bfbf;
}

.user-info {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 23px;
  font-weight: 550;
  outline: none;
  border: none;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}

.user-posts {
  width: 50%;
  margin: 20px auto;
}
