Nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 57px;
}

.menus {
  display: flex;
  flex-direction: row;
  height: 53px;
  width: 70%;
  margin: 0 auto;
  padding: 16px 40px;
}

.logo {
  height: 35px;
  width: 135px;
}
